h1, h2, h3{
	font-family:"Aladin", cursive;
}

h4, h5, .panel-heading, .panel-body, .list-group-item{
	font-family: 'Julius Sans One', sans-serif;
}

.readable, p{
	font-family: 'Alegreya', serif;
}

body{
	background-color:;
	background-image:url('../images/vintage-concrete.png') repeat center;
}

.profile{
	margin-top:71px;
}