body{
	background-color:#f8e1ac;
	background-image:url('../images/vintage-concrete.png');
	background-repeat: repeat;
}

.navbar-brand>img{
	margin-top:-12px;
}

.panel, .panel-body, .thumbnail{
	background-color:#f8e1ac;
	border-color:#e8c98e;
}

.panel-default>.panel-heading {
	background-color:#cdb078;
	border-color:#e8c98e;
}

h1, h2, h3{
	font-family:"Fondamento", cursive;
	font-size:3.142em;
}

h4, h5, .panel-heading, .panel-body, .list-group-item{
	font-family: 'Julius Sans One', sans-serif;
	font-size:1.942em;
}

.readable, p{
	font-family: 'Alegreya', serif;
	font-size:1.6em;
}

.profile{
	margin-top:71px;
}
