body{
	background-color:#f8e1ac;
	background-image:url('../images/vintage-concrete.png');
	background-repeat: repeat;
}

.navbar-brand>img{
	margin-top:-15px;
}

.panel, .panel-body, .thumbnail{
	background-color:#f8e1ac;
	border-color:#e8c98e;
}

.panel-default>.panel-heading {
	background-color:#cdb078;
	border-color:#e8c98e;
}

h1{
	font-family:"Fondamento", cursive;
	font-size:3.789em;
}

h2{
	font-family:"Fondamento", cursive;
	font-size:2.842;
}

h3, h4, h5, .panel-heading, .panel-body, .list-group-item{
	font-family: 'Julius Sans One', sans-serif;
	font-size:2.132em;
}

.readable, p{
	font-family: 'Alegreya', serif;
	font-size:1.6em;
}

.profile{
	margin-top:71px;
}

.navbar-inverse .navbar-nav>li>a:hover{
	color:#f8e1ac;
}